.App {
  text-align: center;
  margin: 45px;
}

h1 {
 color:#f0d8bc;
 background-color: rgb(179, 142, 95);
 padding: 10px;
}

button {
 color:#f8f8f8;
 background-color: rgb(179, 142, 95);
 padding: 10px;
 box-shadow: none;
}